<br />

<div class="booyah-box col-lg-8 offset-lg-2 col-10 offset-1">
  <h1 class="text-center">Courses I'm Enrolled In</h1>
  <% current_user.enrolled_courses.each do |course| %>
    <hr class="col-8 offset-2" />
    <div class="course">
      <h2 class="text-center">
        <%= link_to course.title, course_path(course) %>
      </h2>
      <%= image_tag course.image, class: 'img-fluid' %>
      <br />
      <div class="row">
        <div class="col-12 col-sm-9">
          <%= course.description %>
        </div>
        <div class="col-12 col-sm-3 text-center more">
          <%= link_to 'More Info...', course_path(course), class:
          'btn btn-lg btn-primary float-right' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br />

<div class="booyah-box col-lg-8 offset-lg-2 col-10 offset-1">
  <h1 class="text-center">Courses I'm Teaching</h1>
  <% current_user.courses.each do |course| %>
    <hr class="col-8 offset-2" />
    <div class="course">
      <h2 class="text-center">
        <%= link_to course.title, course_path(course) %>
      </h2>
      <%= image_tag course.image, class: 'img-fluid' %>
      <br />
      <div class="row">
        <div class="col-12 col-sm-9">
          <%= course.description %>
        </div>
        <div class="col-12 col-sm-3 text-center more">
          <%= link_to 'More Info...', course_path(course), class:
          'btn btn-lg btn-primary float-right' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
